body {
  background-image: url("https://github.com/aryanksheth/BPA-band/blob/main/dark_emo%20logo%20for%20band%20Stagefright.png?raw=true");
  opacity: 0.6;
  size: 100px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: Help Me Font;
  font-size: 20px;
}
