<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: orange;
}

h1 {
  color: black;
  text-align: right;
}

p {
  font-family: Times;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
